<section class="timeline">
    {% for item in include.data %}
        {% include timeline-item.html item=item %}
    {% endfor %}
</section>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        if (window.matchMedia("(max-width: 600px)").matches) {
            document.querySelectorAll('.timeline-item').forEach(function (item) {
                item.addEventListener('click', function (event) {
                    event.preventDefault();
                    const overlay = item.querySelector('.overlay');
                    if (overlay) {
                        overlay.style.display = 'flex';
                    }
                });
            });
        }

        document.querySelectorAll('.overlay .close-button').forEach(function (button) {
            button.addEventListener('click', function (event) {
                event.stopPropagation();
                const overlay = button.closest('.overlay');
                if (overlay) {
                    overlay.style.display = 'none';
                }
            });
        });

        document.querySelectorAll('.overlay').forEach(function (overlay) {
            overlay.addEventListener('click', function (event) {
                event.stopPropagation();
                event.target.style.display = 'none';
            });
        });
    });
</script>