<div class="timeline-item {% cycle 'left', 'right' %}">
    <div class="timeline-inline">
        <h3>
            <span class="date">{{ item.date }}</span>
            <span class="title">{{ item.title }}</span>
            <span class="technologies desktop-only">{{ item.technologies }}</span>
        </h3>

        <p class="description desktop-only">{{ item.description }}</p>
        <p class="description-mobile mobile-only">{{ item.description }}</p>

        {% if item.image %}
        <div class="timeline-image" data-full-image="/assets/images/{{ item.image }}">
            <img src="/assets/images/{{ item.image }}" alt="{{ item.title }}" style="max-width: 100%; height: auto; cursor: pointer;">
        </div>
        {% endif %}

        {% if item.link %}
        <a href="{{ item.link }}" class="timeline-link desktop-only">
            {% if item.link contains 'http' %}
                Click to View
            {% else %}
                More...
            {% endif %}
        </a>
        <a href="{{ item.link }}" class="timeline-link-mobile mobile-only">
            {% if item.link contains 'http' %}
                View Online <i class="fas fa-external-link-alt"></i>
            {% else %}
                More...
            {% endif %}
        </a>
        {% endif %}
    </div>
</div>