$font-stack: Arial, sans-serif;

$primary-color: #333333;
$secondary-color: #264653;

$text-color: $primary-color;
$header-bg-color: #f4a261;
$header-text-color: $secondary-color;
$link-color: $header-text-color;
$contact-link-color: $secondary-color;
$page-bg-color: lighten($header-bg-color, 50%);


body {
    font-family: $font-stack;
    margin: 0;
    padding: 0;
    background-color: $page-bg-color;
    color: $text-color;
}

header {
    background-color: $header-bg-color;
    color: $header-text-color;
    padding: 1rem 0;
    text-align: center;

    a {
        color: $link-color;
        text-decoration: none;

        &:link {
            color: $contact-link-color;
        }

        &:visited {
            color: $contact-link-color;
        }

        &:hover {
            color: $contact-link-color;
            text-decoration: underline;
        }
    }

    p {
        color: $contact-link-color;

        span {
            &+span::before {
                content: '•';
                color: lighten($contact-link-color, 20%);
                margin: 0 0.5rem;
                text-decoration: none;
            }
        }
    }

}

header h1 {
    margin: 0;
}

header p {
    margin: 0.5rem 0 0;
}

main {
    padding: 2rem;
    margin: 20px auto;
    width: 100%;
}