$font-stack: Arial, sans-serif;

$primary-color: #333333;
$secondary-color: #ffffff;

$text-color: $primary-color;
$header-bg-color:  #6B8E23;
$header-text-color: $secondary-color;
$link-color: $header-text-color;
$contact-link-color: $secondary-color;
$page-bg-color: lighten($header-bg-color, 70%);

$standard-interval: 1rem;


html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-stack;
    background-color: $page-bg-color;
    color: $text-color;
}

header {
    background-color: $header-bg-color;
    color: $header-text-color;
    padding: 1rem 0;
    text-align: center;

    a {
        color: $link-color;
        text-decoration: none;

        &:link {
            color: $contact-link-color;
        }

        &:visited {
            color: $contact-link-color;
        }

        &:hover {
            color: $contact-link-color;
            text-decoration: underline;
        }
    }

    p {
        color: $contact-link-color;
        margin: 0.5rem 0 0;

        span {
            &+span::before {
                content: '•';
                color: lighten($contact-link-color, 20%);
                margin: 0 0.5rem;
                text-decoration: none;
            }
        }
    }

    h1 {
        margin: 0;
    }

    h2 {
        font-size: 1em; /* Adjust this value to match the <p> font size if necessary */
    }
}

main {
    padding: 2rem;
    margin: 20px auto;
    max-width: 960px;

    .timeline {
        margin-top: $standard-interval;
    }
}