.grid-container {
    display: grid;
    gap: 0;
    border: 3px solid $primary-color;

    .grid-header {
        font-weight: bold;
        background-color: $header-bg-color; // Header background color
        padding: 10px;
        border-right: 1px solid $tertiary-color; // Vertical lines between header cells with tertiary color
    }

    .grid-header:last-child {
        border-right: none; // Remove right border for the last header item
    }

    .grid-header:nth-child(n+4) {
        writing-mode: vertical-lr;
        text-orientation: sideways;
    }

    .grid-item {
        padding: 10px;
        border: none; // Remove borders of the grid cells

        &.with-checkbox {
            color: $tertiary-color;
        }
    }

    .grid-item {
        border-bottom: 1px solid $tertiary-color; // Horizontal lines between cells with tertiary color
        border-right: 1px solid $tertiary-color; // Vertical lines between cells with tertiary color
    }

    .grid-item:last-child {
        border-bottom: none; // Remove bottom border for the last item
        border-right: none; // Remove right border for the last item
    }

    .grid-item:nth-child(-n+4) { // Adjust this selector based on the number of columns
        border-top: none; // Remove top border for the first row
    }

    .grid-item:nth-child(4n+1) { // Adjust this selector based on the number of columns
        border-left: none; // Remove left border for the first column
    }
}