@import 'variables';

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;

    &::after {
        content: '';
        position: absolute;
        width: 6px;
        background-color: #ddd;
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -3px;
    }

    .timeline-item-link {
        display: block;
        text-decoration: none;
        color: inherit;

        .timeline-item {

            // Reset styles for child elements
            h3,
            p,
            .link-icon {
                color: initial;
                text-decoration: none;
            }
        }
    }

    @media (max-width: $mobile-breakpoint) {
        &::after {
            left: 5%; // this overrides the position of the line
        }
    }

    .timeline-item {
        @media (max-width: $mobile-breakpoint) {

            .description,
            .timeline-link {
                display: none;
            }
        }


        padding: 10px 40px;
        position: relative;
        background-color: inherit;
        width: 50%;
        box-sizing: border-box;

        &:hover::before {
            background-color: $header-bg-color; // Replace with the color you want
            content: '';
            display: block;
        }

        &::after {
            content: '';
            position: absolute;
            width: 25px;
            height: 25px;
            right: -17px;
            background-color: white;
            border: 4px solid #ddd;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 50%;
            z-index: 1;
        }

        &::before {
            content: '';
            position: absolute;
            width: 19px;
            height: 19px;
            right: -10px;
            background-color: white;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 50%;
            z-index: 2;
        }

        &.left {
            left: 0;
            text-align: right;
        }

        &.right {
            left: 50%;

            &::after {
                left: -16px;
            }

            &::before {
                left: -9px;
            }
        }

        @media (max-width: $mobile-breakpoint) {
            width: 100%;

            &.left,
            &.right {
                left: 5%; // this overrides the position of the dot
                text-align: left;

                &::after {
                    left: -16px;
                    right: auto;
                }

                &::before {
                    left: -9px;
                    right: auto;
                }
            }
        }

        p {
            padding: 5px 0;
        }

        h3 {
            font-size: inherit;

            .date {
                color: $tertiary-color;
                font-size: 1.5em;
            }

            .title,
            .technologies {
                font-size: inherit; // Make the font size the same as the parent h2
                display: block; // Start from a new line
            }

            .title {
                color: $primary-color;
            }

            .technologies {
                color: #888;
            }
        }

        .link-icon i {
            font-size: 16px;
            vertical-align: middle;
        }

        a {
            color: $link-color;
            text-decoration: underline;
            font-weight: bold;

            &:visited {
                color: $link-color;
            }

            &:hover {
                color: $link-color;
            }
        }

        .overlay {
            visibility: hidden;
            opacity: 0;
            display: flex;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.6);
            z-index: 1000;
            justify-content: center;
            align-items: center;
            transition: opacity 0.2s ease-in-out;

            @media (min-width: calc($mobile-breakpoint + 1px)) {
                display: none;
            }

            &.visible {
                visibility: visible;
                opacity: 1;
            }

            .overlay-content {
                width: 90%;
                max-width: 500px;
                max-height: 600px;
                overflow: auto;
                border: 2px solid $tertiary-color;
                background-color: $page-bg-color;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                color: $primary-color;
                padding: 10px;
                border-radius: $round-corner-radius;

                .description,
                .technologies {
                    display: inline;
                    margin-bottom: 10px;
                    text-align: left;
                }

                .controls {
                    align-self: flex-end;
                    margin-top: auto;
                }
            }

            .close-button {
                background-color: $header-bg-color;
                color: $secondary-color;
                border: 1px solid $primary-color;
                padding: 5px 10px;
                cursor: pointer;
                border-radius: $round-corner-radius;
            }
        }
    }
}