.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;

    &::after {
        content: '';
        position: absolute;
        width: 6px;
        background-color: #ddd;
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -3px;
    }

    .timeline-item {
        padding: 10px 40px;
        position: relative;
        background-color: inherit;
        width: 50%;
        box-sizing: border-box;

        &::after {
            content: '';
            position: absolute;
            width: 25px;
            height: 25px;
            right: -17px;
            background-color: white;
            border: 4px solid #ddd;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 50%;
            z-index: 1;
        }

        &.left {
            left: 0;
            text-align: right;
        }

        &.right {
            left: 50%;

            &::after {
                left: -16px;
            }
        }

        h2,
        p,
        .date {
            padding: 5px 0;
        }

        h2 {
            font-size: 1.5em;
        }

        .date {
            font-size: 0.9em;
            color: #888;
        }
    }
}