<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}">
</head>
<body>
    <header>
        <h1>{{ site.name }}</h1>
        <p>
            <span><a href="mailto:{{ site.email }}">{{ site.email }}</a></span>
            <span><a href="{{ site.linkedin }}" target="_blank">LinkedIn</a></span>
            <span><a href="{{ site.github }}" target="_blank">GitHub</a></span>
            {% for contact in site.contacts %}
                {% if forloop.first %}
                    <span><a href="tel:{{ contact }}">{{ contact }}</a></span>
                {% else %}
                    <span>{{ contact }}</span>
                {% endif %}
            {% endfor %}
        </p>
    </header>
    <main>
        {{ content }}
    </main>
</body>
</html>